<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TasarimCalismasi"
        tools:targetApi="31">
        <activity
            android:name=".view.OnerilenYemek"
            android:exported="false" />
        <activity
            android:name=".view.KullaniciActivity"
            android:exported="false"
            android:label="@string/title_activity_kullanici"
            android:theme="@style/Theme.TasarimCalismasi" />
        <activity
            android:name=".view.TarifActivity"
            android:exported="false" />
        <activity
            android:name=".view.TurActivity"
            android:exported="false"
            android:label="@string/title_activity_ana_sayfa"
            android:theme="@style/Theme.TasarimCalismasi" />
        <activity
            android:name=".view.SorguActivity"
            android:exported="false" />
        <activity
            android:name=".view.AnaSayfaActivity"
            android:exported="false" />
        <activity
            android:name=".view.KayitOlActivity"
            android:exported="false" />
        <activity
            android:name=".view.GirisActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>